#default dev
app_env=dev 
# Groq API Key
# 발급: https://console.groq.com
GROQ_API_KEY=your_groq_api_key_here
# OpenAI API Key
# 발급: https://platform.openai.com
OPENAI_API_KEY=your_openAI_api_key_here
# Google API Key
# 발급: https://aistudio.google.com
GOOGLE_API_KEY=your_google_api_key_here
OPENROUTER_API_KEY=your_openRouter_api_key_here
# AWS 
AWS_S3_BUCKET=s3_bucket_name

